::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    color: #ff8c00;
    background: black;
    align-items: center;
    background-size: 100%;
    flex-direction: column;
    background-attachment: fixed;
    text-shadow: 1px 1px 4px white;
    font-family: 'Martel Sans', sans-serif;
}

input {
    width: auto;
    height: auto;
    outline: none;
    margin-top: 40px;
    color: #ff8c00;
    padding: 2px 10px 2px 10px;
    border: 3px double #ff8c00;
    background-color: transparent;
    text-shadow: 1px 1px 4px white;
}

h1 {
    font-size: 70px;
    margin: 0 0 15px 0;
    text-align: center;
}

#holder {
    display: flex;
    padding-top: 30px;
    flex-direction: row;
}

#guess {
    font-size: 40px;
}

.blob {
    width: 150px;
    height: 150px;
    cursor: pointer;
    transition: .5s;
    border-radius: 50%;
    margin: 50px 20px 70px 20px;
}

#help {
    left: 0;
    width: auto;
    height: auto;
    position: absolute;
    margin: 5px 0 0 5px;
}

#result {
    font-size: 40px;
    margin: 30px 0 0 0;
}

#to_limit {
    width: 1200px;
    font-size: 40px;
}

#game {
    left: 0;
    width: 40px;
    height: 30px;
    position: absolute;
    margin: 5px 0 0 5px;
}

@media only screen and (max-width: 1400px) {
    #to_limit {
        width: 600px;
    }
}

@media only screen and (max-width: 1023px) {
    #guess {
        font-size: 30px;
    }
    #help, #game {
        top: 2px;
        left: auto;
        right: 2px;
        font-size: 15px;
    }
    input {
        font-size: 30px;
        margin-top: 10px;
    }
    h1 {
        font-size: 45px;
        padding-top: 10px;
    }
    .blob {
        margin: 10px 0 10px 0;
    }
    #holder {
        padding-top: 5px;
        flex-direction: column;
    }
    #result {
        margin: 10px 0 20px 0;
    }
    #to_limit {
        width: auto;
        font-size: 20px;
        text-align: center;
        padding-bottom: 10px;
    }
}